flows/
key/
converter.html

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Ключи и приватные файлы
key/
*.pem

# Временные/черновики
temp*.html
temp*.js

# ОС/IDE
.DS_Store
.vscode/

# Vercel
.vercel/
